root {
  display: block;
}
body {
  background-color: #fff; color: #000;    
  text-align: center;
}
body, p, ol, ul, th, td {
  font-family: verdana, arial, helvetica, sans-serif;
}
a { color: #669; text-decoration: underline; font-weight: bold; }
a:visited { color: #669; text-decoration: underline; font-weight: bold; }
a:hover { background: #eee; }

div#page {
  background-color: #fff;
  width: 600px;
  text-align: left;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 20px 20px
}
div#header {
  padding-bottom: 3px;
  border-bottom: thin solid black;
  text-align: right;
}
div#header ul {
  padding-left: 0px;
  margin-left: 0px;
  float: right;
}
div#header ul li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline;
}
span#title {
  font-size: 18pt;
}
span#title a { color: #666; text-decoration: none; font-weight: bold; }
span#title a:visited { color: #666; text-decoration: none; font-weight: bold; }
span#title a:hover { background: #fff; }
div#content {
  text-align: left;
}
span#error {
  background-color: #f00;
  color: #000;
  padding-top: 3px;
}
span#notice {
  background-color: #0f0;
  color: #000;   
  padding: 3px;
}
div#footer {
  width: 100%;
  margin-top: 40px;
  border-bottom: thin solid black;
}

div.toggle-hidden {
  display: none;
}

table.pages {
  padding: 5px;
  width: 100%;
  background: #eef;
}
table.pages thead tr th {
  text-align: left
}

table.roles {
  padding: 5px;
  background: #eef;
}
table.roles thead tr th {
  text-align: left
}
