{% extends 'authenticated.html' %}

{% block title %}Add Role Assignment{% endblock %}

{% block content %}
  <h1>Add Role Assignment</h1>
  <form action="/edit/roles/add" method="post">
    <div>User<br/><input name="user"/></div>
    <div>Role<br/>
      <select name="role">
        <option value="Editor">Editor</option>
        <option value="Manager">Manager</option>
      </select>
    </div>
    <p><i>Manager can create and edit role assignments</i></p>
    <p><i>Editor can create and modify pages</i></p>
    <div><input type="submit" value="Save"></div>
  </form>
{% endblock %}
