{% extends 'base.html' %}

{% block title %}Permission Denied{% endblock %}

{% block header %}
<div id="header">
<span id="title"><a href="/edit">GuteCMS Editor</a></span>
{% if user %}
<ul>
<li><a href="/preferences/">{{user.nickname}}</a></li>
{% if role.admin and env.development %}<li><a href="/_ah/admin">Admin</a></li>{% endif %}
{% if logout_url %}<li><a href="{{logout_url}}">Logout</a></li>{% endif %}
</ul>
{% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content">
<h2>Permission Denied</h2>
<p>You do not have permission for that operation.</p>
</div>
{% endblock %}
